/* Style de la table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

/* Style des cellules et bordures */
th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

/* Style des lignes */
tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* Effet hover pour survol des lignes */
tbody tr:hover {
    background-color: #f1f1f1;
}

/* Pour donner de la marge à l'extérieur de la table */
table {
    margin: 20px auto;
    width: 80%;
}

/* Pour centrer le texte dans la cellule */
td, th {
    text-align: center;
}

/* Pour rendre les bords arrondis */
table {
    border-radius: 5px;
    overflow: hidden;
}
